/tallermecanico/nbproject/private/
/tallermecanico/build/
/practica_proyect/nbproject/private/
/practica_proyect/build/
/RegistroEstudiantes/nbproject/private/
/RegistroEstudiantes/build/
/RegistroAlumno/nbproject/private/
/Registroinstituto/nbproject/private/
